.Rproj.user
.Rhistory
.RData
_bookdown_files
.DS_Store
*.rds
.Rapp.history
!data/dataset.rds
!data/football-manager-missing.rds
!data/football-manager-complete.rds
!docs/handbook/data/dataset.rds
!docs/handbook/data/football-manager-missing.rds
!docs/handbook/data/football-manager-complete.rds
.ipynb_checkpoints
bookdown-itds.log
