p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

table.additionalSources {
  border:none;
}
table.additionalSources tr, table.additionalSources td {
  vertical-align:top;
  border:none !important;
  /*background-color:#ffffff;*/
  background-color: rgba(0, 0, 0, 0.0) !important;
}
